// SPDX-License-Identifier: GPL-2.0
/*
 * Technexion TEVS-*-RPI - camera module
 *
 * Copyright (C) 2022 Texas Instruments Incorporated - https://www.ti.com/
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&main_i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	i2c-switch@71 {
		compatible = "nxp,pca9543";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;

		/* CAM port */
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			pca9554_0: pca9554_0@21 {
				compatible = "nxp,pca9554";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			tevs_0: tevs@48 {
				compatible = "tn,tevs";
				reg = <0x48>;

				standby-gpios = <&pca9554_0 2 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&exp1 13 GPIO_ACTIVE_HIGH>;

				data-lanes = <2>;
				data-frequency = <800>;
				pixel-rate = <41430400>;  //61430400
				continuous-clock = <0>;
				status = "okay";

				port {
					csi2_cam0: endpoint {
						remote-endpoint = <&csi2rx0_in_sensor>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};
		};
	};
};

&csi0_port0 {
	status = "okay";

	csi2rx0_in_sensor: endpoint {
		remote-endpoint = <&csi2_cam0>;
		bus-type = <4>; /* CSI2 DPHY. */
		clock-lanes = <0>;
		data-lanes = <1 2>;
	};
};
